<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 	<mappers>
		<mapper class="com.dobalro.biz.mybatis.mapper.UsersMapper"/>
		<mapper class="com.dobalro.biz.mybatis.mapper.BoardMapper"/>
		<mapper class="com.dobalro.biz.mybatis.mapper.ReplyMapper"/>
	</mappers>
 --></configuration>
