<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<!-- Annotation -->
	<context:component-scan base-package="com.dobalro.biz.*"></context:component-scan>
	
	<bean id="dataSource" class="">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"></property>
		<property name="username" value="dobalro"></property>
		<property name="password" value="1234"></property>
	</bean>

<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
		c:dataSource-ref="dataSource"></bean>
<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>
	<bean id="myBatis" class=""
		c:sqlSessionFactory-ref="sqlSession"></bean>
		
	<!-- AOP Annotation -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>	<!-- Annotation 기반 설정 -->



</beans>
